@namespace TailBlazor.Card

<CascadingValue Value=this>
    <div class="@(Class ?? _baseClass + (!_hasSectionContent ? "p-4" : "divide-y divide-gray-200"))">
        @ChildContent
    </div>
</CascadingValue>

